$white: #FFF;
$leftPadding: 15px;

/* Override some defaults */
html,
body {
  background-color: #FFF;
}
.content {
  padding-bottom: 200px;
}
body#index {
  .wrapper {
    background-color: #FFFFFF;
  }
}
.wrapper {
  margin-top: 20px;
}

.container > footer p {
  text-align: center;
  /* center align it with the container */
}
footer {
  margin: 0px auto 20px auto;
  text-align: center;
}
footer img {
  margin-bottom: 20px;
}
.container {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  min-width: 20px;
}

/* Used for the default page width */
.subpage {
  max-width: 900px;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  a.brand {
    text-shadow: none;
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
    &:hover {
      color: red;
      text-decoration: none;
    }
  }
}
.navbar-inner {
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #444;
  background: #000000;
  border-radius: 0;
  border: 0;
  color: #fff;
  font-family: Helvetica;
  font-size: 10px;
  height: 20px;
  line-height: 10px;
  min-height: 20px;
  min-width: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.brand {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
  line-height: 100%;
  letter-spacing: -1px;
}

/* Page header tweaks */
.page-header {
  border-bottom: 0px;
}
.page-header h1 {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -1px;
  padding: 0;
  margin: 50px 0 5px 0px;
}
.page-header h4 {
  padding-top: 20px;
}
.page-header p {
  padding: 0;
  margin: 10px 0;
}
.topbar .btn {
  border: 0;
}

.front-header img {
  float: left;
  padding-right: 10px;
  width: 100px;
}

/* ===== Element fixes ===== */
h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 25px;
  line-height: 35px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
}

li {
  padding: 3px auto;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  &:hover {
    color: red;
  }
  &.author-link {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Gentium Basic', serif;
    &:hover {
      color: red;
    }
  }
  &.author-page-title {
    text-decoration: none;
    h1 {
      margin-left: 30px;
    }
  }
  &.muted-footer-link {
    color: #666;
    &:hover {
      color: red;
    }
  }
}

hr.divider {
  width:50%;
  border-top: 2px solid #474747;
}

/* ====== Divs and Ids ===== */

#author-page {
  font-family: 'Gentium Basic', serif;
  font-size: 18px;
  .project-image {
    max-width: 100%;
    border-radius: 50%;
  }

  h4 {
    margin-top: 0;
  }
  .role {
    font-size: 18px;
    font-weight: 200;
  }
  a {
    color: #666;
    &:hover {
      color: red
    }
  }
}

.post {
  font-family: 'Gentium Basic', serif;
  list-style: none;
  text-align: center;
  a.post-title {
    height: 50px;
    line-height:50px;
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
    &:hover, &.more:hover {
      color: red;
    }
  }
  h3 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-align: left;
    font-size: 2em;
    font-weight: 600;
    padding-top: 20px;
  }
  a {
    color: #666;
    font-weight: 400;
    &.more {
      color: #888;
      font-weight: 600;
    }
    &:hover, &.more:hover {
      color: red;
    }
  }
  p {
    text-align: left;
    font-size: 1.8em;
    &>img {
      max-width: 100%;
    }
  }
}

.title {
  margin: 80px auto 25px 100px;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: 200;
  letter-spacing: -1px;
  border-bottom: 1px thick #33666;
}

.social-media {
  margin-top: 30px;
  a {
    padding: 0 20px 0 20px;
    color: #000;
    font-size: 30px;
    &:hover {
      text-decoration: none;
      color: red;
    }
  }
}

.post-sm {
  a {
    padding-left: 0px;
  }
}

img.post-image {
  max-width:300px;
  max-height:300px;
  margin: 0px auto;
  border-radius: 50%;
}

/* ===== Index Page ===== */
#index {
  .authors h3 {
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  .about {
    font-family: 'Gentium Basic', serif;
  }
  .banner {
    background-image: url(/assets/img/banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: $white;
    text-align: center;
    .banner-title {
      padding-top: 100px;
      font-size: 8em;
      letter-spacing: -5px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
    }
    .banner-tagline {
      font-size: 4em;
      color: $white;
    }
  }

  h1 {
    font-size: 2em;
    margin: 10% 0 0 $leftPadding;
  }

  h2 {
    font-size: 1.5em;
    margin: 0 0 0 $leftPadding;
  }

  .posts {
    list-style: none;
    padding:80px 0px;
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    p {
      text-align: left;
    }
    a {
      height: 50px;
      line-height: 50px;
      color: #666;
      font-weight: 400;
      text-decoration: none;
      &.more {
        color: #888;
        font-weight: 600;
      }
      &:hover, &.more:hover {
        color: red;
      }
    }
  }

  .mc-field-group input {
  color: #000000;
  }

  .card-image {
    border-radius: 50%;
    max-width: 100%;
    position: absolute;
    -webkit-filter: opacity(100%);
    -webkit-transition: -webkit-filter .25s;
    transition: -webkit-filter .25s;
  }

  .img-container {
    position: relative;
    overflow:hidden;
    margin: 0px auto;
    padding-bottom: 60%;
    max-width: 60%;
    &:hover {
      -webkit-filter: opacity(60%);
    }
    a {
      padding: 0px;
    }


  }

  h1.section-header {
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
  }

  a.author-name {
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFF;
    h4 {
      padding: 10px 0;
      margin: 0;
      font-size: 1.3em;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .06em;
      height: auto;
    }
    p {
      color: #666;
      margin: 0 0 60px 0;
    }
    &:hover {
      color: red;
    }
  }
  .listen {
    text-align: right;
  }

  #other-projects {
    background-color: #E5E5E5;
  }

  #contact {
    margin-right:0px;
    background-color:#111;
    color:#FFF;
  }

  a.alt-link {
    color: #FFF;
    // text-decoration: underline;
    font-weight: 400;
    &:hover {
      color: red;
    }
  }
}


/* Edit the subscribe form */
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center;
}

input[type="submit"] {
  background-color: #111;
  &:hover {
    color: red;
    border-color: red;
  }
}

/* ===== Media Queries ===== */
@media (max-width: 767px) {
  .wrapper {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .brand {
    text-align: center;
  }
  .text-box {
    h4 {
      text-align: center;
      padding-top: 20px;
    }
    p {
      padding-top: 10px;
    }
  }
  #author-page {
    h1 {
      text-align: center;
      margin-top: 20px;
    }
    p {
      font-size: 1.2em;
    }
    .project-image {
      max-width: 200px;
      margin: 20px auto;
    }
  }

  img.post-image {
    width: 75%;
  }

  .post p {
    font-size: 1.5em;
  }


  #index {
    .banner .banner-title {
      text-align: center;
      font-size: 4em;
    }
    .posts {
      font-size: 1.3em;
    }
    .social-media {
      a {
        padding: 0 20px 0 20px;
      }
    }
    a.author-name {
      h4 {
        height: 60px;
        overflow: hidden;
      }
      p {
        font-size: 12px;
        height: 80px;
        margin-bottom: 0px;
      }
    }
  }
}
