$leftPadding: 15px;

#index {
  .banner {
    background-image: url(/assets/img/sf.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: $white;
    text-align: center;
    .banner-title {
      padding-top: 150px;
      font-size: 4em;
    }
    .banner-tagline {
      font-size: 2em;
      color: $white;
    }
  }

  h1 {
    font-size: 2em;
    margin: 10% 0 0 $leftPadding;
    color: #444;
  }

  h2 {
    font-size: 1.5em;
    margin: 0 0 0 $leftPadding;
    color: #666;
  }

  .posts {
    list-style: none;
    // margin-bottom: 200px;
    // padding-left: $leftPadding;
    font-size: 2em;
    a {
      color: #666;
      font-weight: 400;
      &.more {
        color: #888;
        font-weight: 600;
      }
      &:hover, &.more:hover {
        color: red;
      }
    }
  }

  .card-image {
    max-width: 100%;
    position: absolute;
    -webkit-filter: opacity(100%);
    -webkit-transition: -webkit-filter .25s;
    transition: -webkit-filter .25s;
  }

  .img-container {
    position: relative;
    overflow:hidden;
    padding-bottom: 60%;
    &:hover {
      -webkit-filter: opacity(60%);
    }
    a {
      padding: 0px;
    }
  }

  h1.section-header {
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
  }

  a.project-title {
    text-align: center;
    h4 {
      padding: 10px 0;
      margin: 0;
      color: #FFF;
      font-size: 1.3em;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .06em;
      height: auto;
      text-decoration: none;
    }
    p {
      color: #666;
      margin: 0 0 60px 0;
    }
  }
  .listen {
    text-align: right;
  }

  #other-projects {
    background-color: #E5E5E5;
  }

  #contact {
    margin-right:0px;
    background-color:#111;
    color:#FFF;
  }
}

@media (max-width: 767px) {
  #index {
    .social-media {
      margin: 20px 0 20px $leftPadding;
      a {
        padding: 0 15px 0 0;
      }
    }
    a.project-title {
      h4 {
        height: 60px;
        overflow: hidden;
      }
      p {
        font-size: 12px;
        height: 80px;
        margin-bottom: 0px;
      }
    }
  }
}