<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https:">
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <title>Nomad As Fuck</title>
    <meta property="og:title" content="{{ site.title }}" />
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}" />
      <meta name="twitter:description" content="{{ page.description }}">
    {% elsif page.title %}
      <meta name="description" content="A new post by {{ page.title }} is totally {{ site.title }}">
      <meta property="og:description" content="{{ page.title }} is totally {{ site.title }}">
      <meta name="twitter:description" content="{{ page.title }} is totally {{ site.title }}">
    {% else %}
      <meta property="og:description" content="{{ site.tagline }}">
      <meta name="twitter:description" content="{{ site.tagline }}">
      <meta name="description" content="{{ site.tagline }}">
    {% endif %}

    {% if page.title %}
    <meta name="author" content="{{ page.title }}">
    <meta name="copyright" content="&copy; {{ page.title }} 2016">
    {% else %}
    <meta name="copyright" content="&copy; {{ site.author.name }} 2016">
    <meta name="author" content="{{ site.author.name }}">
    {% endif %}

    <meta property="og:url" content="{{ HOME_PATH }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    {% if page.image %}
    <meta property="og:image" content="{{ HOME_PATH}}/assets/img/posts/{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="{{ HOME_PATH}}/assets/img/card.png" />
    {% endif %}
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="794" />
    <meta property="og:image:height" content="792" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.author.twitter }}" />
    {% if page.image %}
    <meta name="twitter:image" content="{{ HOME_PATH}}/assets/img/posts/{{ page.image }}">
    {% else %}
    <meta name="twitter:image" content="{{ HOME_PATH}}/assets/img/card.png">
    {% endif %}

    <!-- Open Source Protocol -->
    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="{{ site.github }}" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="{{ site.git_remote }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ HOME_PATH }}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ HOME_PATH }}/assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="{{ HOME_PATH }}/favicon.png">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">⥢ &nbsp; {{ site.title }}</a>
         </div> <!-- /container -->
       </div> <!-- /navbar-inner -->
     </div> <!-- /navbar -->

    <div class="wrapper">

    <div class="container subpage">

      <div class="content">
        {{ content }}
      </div>


      <footer>
        <p>{{ site.author.name }} &copy; {{ site.time | date: '%Y' }}. Source:
          <a href="{{ site.github }}"><i class="fa fa-github"></i></a>
        </p>
      </footer>
    <div class="push"></div>

    </div> <!-- /container -->

  </div> <!-- /wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ HOME_PATH }}/assets/js/jquery.js"></script>
    <script src="{{ HOME_PATH }}/assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ HOME_PATH }}/assets/js/ga.js"></script>

    <script src="{{ HOME_PATH }}/assets/js/lazysizes.min.js" async=""></script>

  </body>
</html>
