<div class="page-header">
  <img src="{{ BASE_PATH }}/assets/img/posts/{{ page.image }}" class="post-image" />
  <h1>{{ page.title }}</h1>
  {% if page.twitter or page.instagram or page.github %}<p class="social-media post-sm">
    {% if page.twitter %}<a href="https://twitter.com/{{ page.twitter }}" rel="me"><i class="fa fa-twitter"></i></a> {% endif %}{% if page.instagram %}<a href="https://instagram.com/{{ page.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}{% if page.github %}<a href="https://github.com/{{ page.github }}"><i class="fa fa-github"></i></a>{% endif %}
  </p>
  {% endif %}
  <h4>
    <a href="{{page.link}}" class="author-link">{{ page.link }}</a>
  </h4>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12 post">
      {{ content }}

      {% if page.twitter or page.instagram %}
      <h3 class="follow-author">Follow {{ page.author }} here:</h3>
       <p class="social-media">
        {% if page.twitter %}<a href="https://twitter.com/{{ page.twitter }}" rel="me"><i class="fa fa-twitter"></i></a> {% endif %}{% if page.instagram %}<a href="https://instagram.com/{{ page.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}{% if page.github %}<a href="https://github.com/{{ page.github }}"><i class="fa fa-github"></i></a>{% endif %}
      </p>
      {% endif %}
    </div>
  </div>
</div>
